@media screen and (max-width: 1000px)
{

song-list,
.audios,
img
{
  width:90%;
  margin:4px;
  background-image:none;
}

.view-container,
.thumbnail

{
  padding:6px;
}

.view-frame,
img
{
  float:none;
  width:96%;
  background-color:lightgrey;
}

.container-fluid
{
  float:none;
  width:80%;
}

.audios
{
  max-width:1000px;
}

}