@media screen and (max-width: 1000px)
{

song-list
{
  width:96%;
  margin:2%;
  background-image:none;
}

.view-container
{
  padding:2%;
}

.view-frame
{
  float:none;
  width:100%;
  background-color:lightgrey;
}

.container-fluid
{
  float:none;
  width:96%;
}

audio
{
  max-width:1000px;
}

}